@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --wrapperBackground: rgb(100 0 0/1);
    --borRad: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tagMainBody {
    background-image: url(../src/img/wade-meng-LgCj9qcrfhI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid orange;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myModal {
    place-items: center;
    place-content: center;
    margin: auto;
    inset: 0;
    border-radius: 10px;
    border: 2px solid rgb(200 200 210/.9);
    background: rgb(180 180 200/.5);
    position: absolute;
    width: 50%;
    height: 50%;
    backdrop-filter: blur(3px);
}

.paragraph {
    font-weight: 400;
    font-size: 1em;
    font-family: "Merriweather", serif;
}

#containerWrapper {
    flex-basis: 70%;
    width: 70%;
    backdrop-filter: blur(4px);
}

.containerCounter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgb(255 255 255/.3);
    padding: 1em;
}

.containerCounter>* {
    background: rgb(255 255 255/.2);
    font-weight: 500;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headMaxMin {
    height: 30%;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .8fr;
    grid-template-areas:
        "minLab maxLab"
        "minN maxN";
    gap: 1em .5em;
    place-items: center;

}

label,
input {
    width: 80%;
    text-align: center;
}

label {
    background: rgb(255 255 255/.3);
    border-radius: 5px;
    height: 80%;
    place-content: center;
    font-weight: 600;
    font-size: 1.3em;
}

input {
    height: 50%;
}

input:hover {
    animation: pulse 1s infinite alternate ease-in;
    transition: animation 2s;
}

@keyframes pulse {
    from {
        transform: scale(1);
        box-shadow: 0px 0px 5px rgb(80 80 80/1);
    }

    to {
        box-shadow: 0px 0px 5px rgb(255 255 255/.9);
        transform: scale(1.05);
    }
}

.minLab {
    grid-area: minLab;
}

#minN {
    grid-area: minN;
}

.maxLab {
    grid-area: maxLab;
}

#maxN {
    grid-area: maxN;
}

/* sectionn buttons increment||decrement*/
.containerButtons {
    flex-basis: 60%;
    border-radius: 0 0 10px 10px;
    display: flex;
}

.handleCount a {
    display: grid;
    place-content: center;
    flex-basis: 100%;
    text-decoration: none;
    color: initial;
    font-size: x-large;
}

.listDigit {
    padding: .5em;
    flex-basis: 10%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 5px;
}

.listDigit li {
    font-size: x-large;
}