:root{
    --wrapperBackground: rgb(100 0 0/1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tagMainBody{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerWrapper{
    flex-basis: 80%;
    border: 2px inset rgb(130 200 145/ .7);
}