@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --wrapperBackground: rgb(100 0 0/1);
    --borRad: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tagMainBody {
    background-image: url(../src/img/wade-meng-LgCj9qcrfhI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid mediumslateblue;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerWrapper {
    flex-basis: 70%;
    width: 70%;
    backdrop-filter: blur(4px);
    position: relative;
}

.myModal {
    place-items: center;
    place-content: center;
    margin: auto;
    inset: 0;
    border-radius: 10px;
    border: 2px solid rgb(200 200 210/.9);
    background: rgb(180 180 200/.5);
    position: absolute;
    width: 50%;
    height: 50%;
    backdrop-filter: blur(3px);
}

.closeMod {
    background: rgb(90 90 90/.6);
    border-radius: 50%;
    border: none;
    width: 5em;
    height: 5em;
    place-items: center;
    place-content: center;
    margin: 2em 0;
    display: flex;
    animation: pulse2 1s infinite alternate ease-in;
    font-size: 15px;
    transition:
        2s border ease-in-out,
        2s color ease-in;
}

@keyframes pulse2 {
    from {
        color: white;
        font-size: 20px;
        transform: scale(1);
        box-shadow: 0px 0px 5px rgb(80 80 80/9);
        border: 2px solid rgb(70 70 70/.8);
    }

    to {
        color: black;
        font-size: 15px;
        box-shadow: 0px 0px 5px rgb(255 255 255/.9);
        transform: scale(1.2);
        border: 3px solid rgb(240 240 240/.6);
    }
}

.paragraph {
    color: rgb(220 220 220/1);
    border-radius: 5px;
    padding: 1em;
    background: rgb(80 80 80/.7);
    font-weight: 800;
    font-size: 1.2em;
    font-family: "Merriweather", serif;
}

.containerCounter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgb(255 255 255/.3);
    padding: 1em;
}

.containerCounter>* {
    background: rgb(255 255 255/.2);
    font-weight: 500;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.headMaxMin {
    height: 30%;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .8fr;
    grid-template-areas:
        "minLab maxLab"
        "setMinN setMaxN";
    gap: 1em .5em;
    place-items: center;
}

label,
input {
    width: 80%;
    text-align: center;
}

label {
    background: rgb(255 255 255/.3);
    border-radius: 5px;
    height: 80%;
    place-content: center;
    color: rgb(20 20 20/.8);
    font-weight: 600;
    font-size: 1.3em;
    font-family: "Merriweather", serif;
}

input {
    height: 50%;
}

input:focus {
    animation: pulse 1s infinite alternate ease-in;
    transition: animation 2s;
}

input {
    background: rgb(240 240 240/.6);
    border: none;
    font-family: "Merriweather", serif;
    font-weight: 900;
    letter-spacing: 3px;
    color: rgb(15 15 15/.75);
}

@keyframes pulse {
    from {
        transform: scale(1);
        box-shadow: 0px 0px 5px rgb(80 80 80/1);
    }

    to {
        box-shadow: 0px 0px 5px rgb(255 255 255/.9);
        transform: scale(1.05);
    }
}

.minLab {
    grid-area: minLab;
}

#setMinN {
    grid-area: setMinN;
}

.maxLab {
    grid-area: maxLab;
}

#setMaxN {
    grid-area: setMaxN;
}

/* sectionn buttons increment||decrement*/
.containerButtons {
    flex-basis: 60%;
    border-radius: 0 0 10px 10px;
}

.handleCount {
    border: 3px solid rgb(220 220 220/.3);
    border-radius: 5px;
    flex-basis: 33%;
    height: 7em;
    color: initial;
    font-size: x-large;
    background: inherit;
}

.handleCount a {
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    color: rgb(20 20 20/.7);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1em;
    font-family: "Merriweather", serif;
}


.listDigit {
    background: rgb(30 30 30/.5);
    padding: .5em;
    flex-basis: 10%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.listDigit li {
    text-decoration: underline;
    text-underline-offset: 10px;
    list-style: none;
    color: whitesmoke;
    font-size: x-large;
}