:root {
    --wrapperBackground: rgb(100 0 0/1);
    --borRad: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tagMainBody {
    background-image: url(../src/img/wade-meng-LgCj9qcrfhI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid orange;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerWrapper {
    flex-basis: 70%;
    width: 70%;
    backdrop-filter: blur(4px);
}

.containerCounter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px inset rgb(120, 104, 207);
    gap: 1em;
}

.containerCounter>* {
    background: rgb(255 255 255/.2);
    font-weight: 500;
    border: 2px inset rgb(255 255 255/.3);
}

.handleCount {
    flex-basis: 30%;
    height: 18%;
    border-radius: var(--borRad);
    margin: 0 1em;
    display: flex;
}

.handleCount a {
    display: grid;
    place-content: center;
    flex-basis: 100%;
    text-decoration: none;
    color: initial;
    font-size: x-large;
}

.listDigit {
    padding: .5em;
    flex-basis: 10%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 5px;
}

.listDigit li {
    font-size: x-large;
}